@model RolesViewModel



<div class="form-group">
    <label asp-for="RoleName" class="col-form-label"></label>
    <input asp-for="RoleName" class="form-control" />
    <span asp-validation-for="RoleName" class="text-danger"></span>
</div>

