<!DOCTYPE html>
<html>
<head>
	<title>SignUp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->


	<!-- //Custom Theme files -->
	<!-- web font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<!-- //web font -->
	<link href="~/css/dark_modern_signin.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">



		



		@RenderBody();



	</div>
	<!-- //main -->
</body>
</html>
