@model EmployeeViewModel
@{
    ViewData["Title"] = "Update";
   
}

<h1>Update Employee </h1>
<br />
<br />

<form asp-action="Update" enctype="multipart/form-data">


    <partial name="PartialViews/EditCreateEmployeePartialView" />
    <input hidden asp-for="ImageName"/>
    <br />
    <input type="submit" value="Save" class="btn btn-primary" />
   
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
@section ValidtionRequest
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

