@model EmployeeViewModel

<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input readonly asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <input readonly asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Address" class="col-form-label"></label>
    <input readonly asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input readonly asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

@* <div class="form-group">
    <label asp-for="Salary" class="col-form-label"></label>
    <input readonly asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div> *@

<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input readonly asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="IsActived" class="col-form-label"></label>
    <input readonly asp-for="IsActived" class="form-control" />
    <span asp-validation-for="IsActived" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="HireDate" class="col-form-label"></label>
    <input readonly asp-for="HireDate" class="form-control" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
</div>
