@model Project

<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="StartDate" class="col-form-label"></label>
    <input asp-for="StartDate" class="form-control" />
    <span asp-validation-for="StartDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EndDate" class="col-form-label"></label>
    <input asp-for="EndDate" class="form-control" />
    <span asp-validation-for="EndDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Budget" class="col-form-label"></label>
    <input asp-for="Budget" class="form-control" />
    <span asp-validation-for="Budget" class="text-danger"></span>
</div>
