@model UserViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<br />
<br />

<form asp-action="Delete">
     
    <partial name="PartialViews/DeleteDetailsPartialView"  />
    

    <br />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a  asp-action="Index" class="btn btn-light">Back To List</a>
</form>
