@model Position
@{
    ViewData["Title"] = "Create";
}

<h1>Create Position Page</h1>
<br/>

<br/>

<form asp-action="Create">

    <partial name="PartialView/EditCreatePositionPartialView" />
    <br />
    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-controller="Position" asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section ValidtionRequest
{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
