@model Position
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Position</h1>

<<form asp-action="Delete">

    <partial name="PartialView/DeleteDetailsPartialView" />

    <br />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Position" asp-action="Index" class="btn btn-light">Back To List</a>
</form>

