
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">

	<div asp-validation-summary="All"></div>
	<div class="agileits-top">
		
		<div>
			<P>Reset Password Link has been send to Your Email, Please Check Your Email</P>
		</div>
		<div>
			<a href="https://mail.google.com/" target="_blank">Your Inbox</a>

		</div>
		
	</div>
</div>

