@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "FrogetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>FrogetPassword</h1>

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">
		<form asp-action="FrogetPassword">

			<input class="text email" asp-for="Email" type="email" name="email" placeholder="Email" required="">

			<input type="submit"  value="Reset Password">
		</form>
	</div>
</div>

