@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">
		<form asp-action="ResetPassword">

			
			<div class="password-container">
				<input class="text" type="password" asp-for="Password" name="password" placeholder="Password" required="" oninput="checkPasswordStrength()">
				<input class="text w3lpass" asp-for="ConfimedPassword" type="password" name="ConfirmedPassword" placeholder="Confirm Password" required="">
				<div id="password-strength" class="strength-bar"></div>
				<small id="strength-text"></small>
				<ul id="password-requirements" style="display: none;">
					<li id="min-length" class="invalid">• At least 8 characters</li>
					<li id="uppercase" class="invalid">• Contains an uppercase letter</li>
					<li id="lowercase" class="invalid">• Contains a lowercase letter</li>
					<li id="number" class="invalid">• Contains a number</li>
					<li id="special-char" class="invalid">• Contains a special character</li>
				</ul>
			</div>
			
			<input type="submit" value="Reset Password">
		</form>
		
	</div>
</div>

