@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">
		<form asp-action="SignIn">




			<input class="text email" asp-for="Email" type="email" name="email" placeholder="Email" required="">

			<input class="text" type="password" asp-for="Password" name="password" placeholder="Password" required="">


			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="RememberMe" class="checkbox" >
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Do you forget Password ? <a asp-action="FrogetPassword"> Reset Now!</a></p>

		<p>Don't have an Account? <a asp-action="SignUp"> SignUp Now!</a></p>
	</div>
</div>

