@model SignUpViewModel
@{
    ViewData["Title"] = "SingUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>
	<div class="agileits-top">
		<form asp-action="SignUp">


			<input class="text" asp-for="UserName" type="text" name="Username" placeholder="Username" required="">
			<input class="text" asp-for="FirstName" type="text" name="FirstName" placeholder="FirstName" required="">
			<input class="text" asp-for="LastName" type="text" name="LastName" placeholder="LastName" required="">


			<input class="text email"asp-for="Email" type="email" name="email" placeholder="Email" required="">

			<input class="text" type="password" asp-for="Password" name="password" placeholder="Password" required="">
			<input class="text w3lpass" asp-for="ConfimedPassword" type="password" name="ConfimedPassword" placeholder="ConfimedPassword" required="">


			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="IsAgree" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>Do You have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>

